# Gradle
.gradle/
build/
out/

# IDE
.idea/
.eclipse/
.vscode/
*.iml

# Compiled output
bin/
*.class

# NeoForge run directory
run/

# Local IDE metadata
src/main/java/dev/marie/MariesLib/MariesLib.xml
MariesLib_Banner.png
